@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--md-sys-color-surface);
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navBar-buttons {
    padding-left: 20px;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--md-sys-color-surface-container-highest);
    display: flexbox;
    margin: 1rem;
}

#nikeIcon {
    border: none;
    height: 48px;
    background-color: transparent;
}

#switchTheme, #searchIcon {
    border: none;
    background-color: var(--md-sys-color-surface-container-highest);
    border-width: 1 1px;
    padding: 7px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
    float: right;
    min-width: 48px;
    min-height: 48px;
}

#switchTheme:hover, #searchIcon:hover {
    background-color: var(--md-sys-color-surface-container-high);
}

#switchTheme:hover svg, #searchIcon:hover svg {
    fill: var(--md-sys-color-on-surface-variant);
}

svg {
    fill: var(--md-sys-color-on-surface);
}

.products {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#nikeSbDunks, #nikePufferJacket, #nikeNoctaFleece {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--md-sys-color-surface-container-high);
    display: inline-flexbox;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
}

#nikeSbDunksImage, #nikePufferJacketImage, #nikeNoctaFleeceImage {
    border: none;
    border-radius: 12px;
    width: 75%;
    height: min-content;
}

[id*="Title"] {
    font-size: 1.75rem;
    font-family: fantasy;
    font-weight: 500;
    margin: 8px;
}

@media (max-width: 768px) {
    .navBar-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    #nikeIcon {
        margin-bottom: 2.5px;
    }

    #switchTheme, #searchIcon {
        margin-top: 2.5px;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }

    [id*="Title"] {
        font-size: 1.5rem;
        width: fit-content;
    }
}

@media (max-width: 480px) {
    [id*="Title"] {
        font-size: 1.2rem;
    }
}