@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Noto Sans", sans-serif;
    background-color: #f7f9fc;
    font-family: Helvetica, Arial, sans-serif;
}

ul {
    padding-left: 20px;
    padding: 7px;
    border-radius: 10px;
    background-color: #00526e;
    display: flex;
}

#searchIcon {
    border: none;
    background-color: #23789b;
    border-width: 1 1px;
    padding: 7px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
    position: absolute;
    min-width: 48px;
    min-height: 48px;
}

#switchTheme {
    border: none;
    background-color: #23789b;
    border-width: 1 1px;
    padding: 7px;
    border-radius: 12px;
    font-family: "Work Sans", sans-serif;
    position: absolute;
    min-width: 48px;
    min-height: 48px;
}

#nikeIcon {
    padding-left: 20px;
    padding: 7px;
    border: none;
}

#switchTheme:hover, #searchIcon:hover {
    background-color: #cfebfc;

    svg {
        fill: #344e5c;
    }
}

svg {
    fill: #ffffff;
}

#switchThemeIcon {
    animation-name: logoMoving;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation-direction: alternate;
}

@keyframes logoMoving {
    0% {transform: rotate(0);}
    100% {transform: rotate(1turn);}
}